language: php
php:
  - 5.6
  - 7.0
  - 7.1
before_script:
  - composer install --prefer-dist --no-interaction --dev
script: "./vendor/bin/phpunit"
matrix:
  fast_finish: true
after_success:
  - wget https://github.com/php-coveralls/php-coveralls/releases/download/v1.0.0/coveralls.phar
  - travis_retry php coveralls.phar -v
notifications:
  slack:
    secure: Th2u1cqxHyPvuhlOwpvwvTHcTxkgG91BHoG/3kC+VpcQYkEDxeLJ6IRP59c34bMl5K4qOQbyUY76k2vrdkx9MAE3Qsz/+L+9f2+Np55txL62X+Nw5otb/qkj6maKGcE8IIuo+rlUpo2qvmC2rxo2W5BdRcabA9fukTNymVQ5iTFbOwdt3pyVl+y61xVRTyR61qSJaCMtecvvWxYI7Kr5PUHVO4uVfqDKQLuIHVV5NoQ7lGJmlY7Nwh6xPxVTzORCBzkf8sivdetuzE8PvclRqy0xFCZk1WAv5f5o6JHWywWtch+wsX2CnRwF7KQ8EEvbclMJ+6jLu46+gY2FlHHMHEdOPtNfLK6YHyizGBwHygoU0ZcQ1EkLJRRQnbRUSoW84cDNnUxZbtlynOu5/VNxUKsgVGc08chZF7CN7R2H6p1ynr0aNqqqLVHwhst0iOYvemtm1Rv+tcw00N6+pWW7rMcjsRMzwjOniJqrBsy+Wl/Tl1lWk/Qj5E043SRzkHckrat0XCm08ffstlo1RXbKNG/ZPtn5b92GfDgw6au1yR6U5zZ0ABNHyBCRuRg12t3BWqjzJeL0g1Jnu2voi4sdF3O512tDE82RVfWS5d5USU4FRG7M9dFtyXuv797k2lOvqhnuUnEVx31twj0ijn+C9ImjLaceNDcLweiEKcBBfWI=
install:
  - pwdss
  - wget https://github.com/rushmore/zbus/archive/0.9.0-RC1.zip -O /tmp/zbus.zip
  - unzip /tmp/zbus.zip -d /tmp
  - cd /tmp/zbus-0.9.0-RC1/zbus-dist/bin/
  - bash zbus.sh
  - bash zbus2.sh
  - cd ~/minbaby/zbus-php
addons:
  apt:
    packages:
    - openjdk-8-jre
